#snowflakeContainer 
{
    position: absolute;
    left: 0;
    top: 0;
}
.snowflake
{
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
	font-weight: bold;
    line-height: 24px;
    position: fixed;
    color: #8B4513;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover 
{
    cursor: default;
}
